<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sheets.each do |sheet| %>
      <tr>
        <td><%= sheet.id %></td>
        <td><%= sheet.name %></td>
        <td><%= link_to 'Show', sheet_show_path(sheet) %></td>
      </tr>
    <% end %>
  </tbody>
</table>