<script type="text/javascript">
    function teste(){
        var features = document.getElementById('features');
        while (features.firstChild) {
            features.removeChild(features.firstChild);
        }
        var formelement = document.createElement('p');
        var selectrace = document.getElementById('race');
        var optionrace = selectrace.options[selectrace.selectedIndex].text;
        var race = checaFeatures(optionrace);
        formelement.innerHTML = race;
        features.appendChild(formelement);
        features.style.display = "block";
    }
    
    function checaFeatures(race){
        var features;
        var divFeature = document.getElementById('features');
        
        if (race == "Dragonborn"){
            var formelement = document.createElement('label');
            formelement.innerHTML = "Draconic Ancestry"
            divFeature.appendChild(formelement);
            formelement = document.createElement('select');
            var option = document.createElement('option');
            option.value = "Black Dragon";
            option.text = "Black Dragon";
            formelement.appendChild(option);
            divFeature.appendChild(formelement);
            features = "Ability Score Increase: Charisma +1, Strenght +2<br>Size:Medium<br>Speed: 30<br>Language Proficiencies: Common, Draconic"
        }else if (race == "Dwarf"){
            features = "Anão"
        }else if (race == "Elf"){
            
        }else if (race == "Gnome"){
            
        }else if (race == "Half-Elf"){
            
        }else if (race == "Half-Orc"){
            
        }else if (race == "Halfling"){
            
        }else if (race == "Human"){
            
        }
        return features;
    }
</script>
<style>
    .features{
        display:none;
    }
</style>
<form>
    <label>Name:</label><input type="text"><br>
    <label>Race:</label><select name="race" id="race" onChange="teste()">
        <option value="Choose" default>Choose your class</option>
        <option value="Dragonborn">Dragonborn</option>
        <option value="Dwarf">Dwarf</option>
        <option value="Elf">Elf</option>
        <option value="Gnome">Gnome</option>
        <option value="Half-Elf">Half-Elf</option>
        <option value="Half-Orc">Half-Orc</option>
        <option value="Halfling">Halfling</option>
        <option value="Human">Human</option>
    </select><br>
    <div class="features" id="features">
        <label>Aligment</label><select name="aligment">
        <option value="lg">Lawful Good</option>
        <option value="ng">Neutral Good</option>
        <option value="cg">Chaotic Good</option>
        <option value="ln">Lawful Neutral</option>
        <option value="tn">True Neutral</option>
        <option value="cn">Chaotic Neutral</option>
        <option value="le">Lawful Evil</option>
        <option value="ne">Neutral Evil</option>
        <option value="ce">Chaotic Evil</option>
    </select><br>
    </div>
</form>
