
<script type="text/javascript" >
    function makeRace(){
        var features = document.getElementById('features');
        while (features.firstChild) {
            features.removeChild(features.firstChild);
        }
        var formelement = document.createElement('p');
        var selectrace = document.getElementById('race');
        var optionrace = selectrace.options[selectrace.selectedIndex].value;
        checkRace(optionrace);
        features.appendChild(formelement);
        features.style.display = "block";
    }
    
    function checkRace(race){
        if (race == "Dragonborn"){dragonborn()}
        else if (race == "Dwarf"){dwarf()}
        else if (race == "Elf"){elf()}
        else if (race == "Gnome"){gnome()}
        else if (race == "Half-Elf"){half_elf()}
        else if (race == "Half-Orc"){half_orc}
        else if (race == "Halfling"){halfing()}
        else if (race == "Human"){human()}
        //const barb = new barbarian(12,12,12,12,12)
       // div_classes.innerHTML = barb.get_hit_dice()
    }
    function makeClass(){
        //var div_classes = document.getElementById('div_classes')
        //while (div_classes.firstChild) {
        //    div_classes.removeChild(div_classes.firstChild);
        //}
        var selectClass = document.getElementById('class')
        var optionClass = selectClass.options[selectClass.selectedIndex].value
        checkClass(optionClass)
    }
    
    function checkClass(optionclass){
        if (optionclass == "Barbarian"){
            var teste = document.getElementById('div_class')
            barbarian()
        }else{
            document.getElementById('div_class').innerHTML="No Barbarian"
        }
    }
</script>
<style>
    .features{
        display:none;
    }
</style>
<form>
    <table>
        <tr>
            <th>Strength</th>
            <th>Dexterity</th>
            <th>Constitution</th>
            <th>Intelligence</th>
            <th>Wisdom</th>
            <th>Charisma</th>
        </tr>
        <tr>
            <td id="attr0">0</td>
            <td id="attr1">0</td>
            <td id="attr2">0</td>
            <td id="attr3">0</td>
            <td id="attr4">0</td>
            <td id="attr5">0</td>
        </tr>
    </table>
    <label>Name:</label><input type="text"><br>
    <label>Race:</label><select name="race" id="race" onChange="makeRace()">
        <option value="Choose" default>. . .</option>
        <option value="Dragonborn">Dragonborn</option>
        <option value="Dwarf">Dwarf</option>
        <option value="Elf">Elf</option>
        <option value="Gnome">Gnome</option>
        <option value="Halfling">Halfling</option>
        <option value="Human">Human</option>
    </select><br>
    <div class="features" id="features">
        
    </div>
    <label>Class:</label><select name="class" id="class" onChange="makeClass()">
        <option value="Choose" default>. . .</option>
        <option value="Barbarian">Barbarian</option>
        <option value="Bard">Bard</option>
        <option value="Druid">Druid</option>
        <option value="Fighter">Fighter</option>
        <option value="Paladin">Paladin</option>
        <option value="Ranger">Ranger</option>
        <option value="Rogue">Rogue</option>
        <option value="Wizard">Wizard</option>
    </select><br>
    <div id="div_class">
    </div>
</form>
