/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin:0;
    padding:0;
    font-family:'Montserrat', sans-serif;
    font-size: 100%;
}

body {
  background-color: #333333;
  color: #EEE9E9;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}

form {
  margin: 0 auto;
  max-width: 850px;
  padding: 20px 10px;
  background-color: rgba(229, 11, 20, 0.4);
  display: table;
}

.input {
  float: left;
  width: 48%;
  padding: 0 1% 20px;
  position: relative;
}

.input.txt { 
    width: 98%; 
}

.input label {
  display: block;
  padding-bottom: 5px;
  color: #EEE9E9;
}

.input input,
.input textarea {
  padding-top: 10px;
  padding-bottom: 9px;
  border: none;
  font-size: 1em;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.input.txt select {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.input select {
  padding-top: 10px;
  padding-bottom: 9px;
  border: none;
  font-size: 1em;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.input select {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.input input{
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
}

.input textarea {
  width: 97%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.button .btn{
  width:100%;
  background-color: rgba(229, 11, 20, 0.4);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
}

.logoimg {
	display: block;
	margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.buttonduo {
	width: 49%; 
	float: right;
  display: flex;
  align-items: center;
}
	    
.btnduo {
	display: block;
	margin-left: auto;
  margin-right: auto;
  background-color: rgba(229, 11, 20, 0.8);
  border: none;
  color: white;
  padding: 15px 32px;
}

.table {
  margin: 0 20% 0 20%;
	padding: 20px;
  background-color: rgba(229, 11, 20, 0.4);
}

table{
	text-align: center;
	width: 100%;
	border-collapse: collapse;
	padding: 3%;
	margin-left: auto;
	margin-right: auto;
}

th, td {
	padding: 2%;
}

th{
  background-color: rgba(238, 233, 233, 0.5);
  text-transform: uppercase;
}

td a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #EEE9E9;
  text-shadow: 1px 2px #c3090f;
  border: 3px solid #EEE9E9;
  padding: 5px;
}

td a:hover {
  color: #c3090f;
  text-shadow: 1px 2px #EEE9E9;
  border: 3px solid #c3090f;
}

@media screen and (max-width: 520px) {
  .input {
    width: 98%;
  }
  
  .table {
    margin: 0;
		padding: 5%;
  }
  
  th, td {
	  padding: 3%;
  }
  
  td a {
    border: 2px solid #EEE9E9;
    padding: 3px;
  }
  
  .logoimg {
    width: 100%;
  }
  
  .buttonduo {
    margin-top: 2%;
		width: 100%;
  }
}