/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    margin:0;
    padding:0;
    font-family:'Montserrat', sans-serif;
    font-size: 100%;
}

body {
  background-color: #333333;
  color: #EEE9E9;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

form {
  margin: 0 auto;
  max-width: 850px;
  padding: 20px 10px;
  background-color: rgba(229, 11, 20, 0.4)
}

.input {
  float: left;
  width: 48%;
  padding: 0 1% 20px;
  position: relative;
}

.input.txt { 
    width: 98%; 
}

.input label {
  display: block;
  padding-bottom: 5px;
  color: #EEE9E9;
}

.input input,
.input textarea {
  padding-top: 10px;
  padding-bottom: 9px;
  border: none;
  font-size: 1em;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.input input {
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
}

.input textarea {
  width: 97%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.button .btn{
    background-color: rgba(229, 11, 20, 0.4);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.logoimg {
		display: block;
		margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (max-width: 520px) {
  .input {
    width: 98%;
  }
  .logoimg {
    width: 100%;
  }
}