<h1> Index </h1>

<div class="button">
    <button class="btn"><%= link_to 'Sign In', login_path %></button>
</div>
<div class="button">
    <button class="btn"><%= link_to 'Register', usuario_new_path %></button>
</div>