<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>RPG</title>
		
		<style>
		    section {
	            margin-left: auto;
                margin-right: auto;
                border: 1px solid;
                width: 60%;
		    }
		    div {
		        width: 49%; 
		        margin-top: 15%;
		        float: right;
		        /*border: 1px solid;*/
                display: flex;
                align-items: center;
		    }
		    
		    button {
		        display: block;
		        margin-left: auto;
                margin-right: auto;
		    }
		</style>
	</head>
	<body>
	    <h1> Index </h1>
	    <section>
            <div class="button">
                <button class="btn"><%= link_to 'Sign In', login_path %></button>
            </div>
            <div class="button">
                <button class="btn"><%= link_to 'Register', usuario_new_path %></button>
            </div>
        </section>
	</body>
</html>