<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>RPG</title>
		
		<style>
		    section {
	            margin-left: auto;
                margin-right: auto;
                border: 1px solid;
                width: 60%;
		    }
		    
		    form{
		        padding: 0;
		        background-color: transparent;
		    }
		    div {
		        width: 49%; 
		        margin-top: 15%;
		        float: right;
		        border: 1px solid;
                display: flex;
                align-items: center;
		    }
		    
		    .btn {
		        display: block;
		        margin-left: auto;
                margin-right: auto;
                background-color: rgba(0,51,102,0.7);
                border: none;
                color: white;
                padding: 15px 32px;
		    }
		    
		    @media screen and (max-width: 520px) {
                section {
                    width: 98%;
                }
            }
		</style>
	</head>
	<body>
	    <h1> Index </h1>
	    <section>
            <div>
                <%= button_to "Sign In", login_path, :method => "get", class: "btn" %>
            </div>
            <div>
                <%= button_to "Register", usuario_new_path, :method => "get", class: "btn" %>
            </div>
        </section>
	</body>
</html>